ul.log
{
    list-style: none;
    padding-inline-start: 1em;

    li > label.type
    {
        font-weight: bold;
    }

    li .message
    {
        display: inline;
    }

    li .timestamp
    {
        &:after { content: ' '; }
    }

    li .level
    {
        &:before { content: '['; }
        &:after { content: ']: '}
    }
}
